* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(248, 236, 236);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin: 20px 10px;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
}

h2 {
  margin: 20px 10px;
  text-align: center;
  text-transform: uppercase;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  outline-style: none;
  margin-bottom: 20px;
}

input:focus {
  border-color: rgb(255, 0, 0);
  box-shadow: 0 0 10px rgb(255, 0, 0);
}

.loadBtn {
  align-self: center;
  width: 50%;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  background-color: rgb(255, 0, 0);
  outline-style: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5, color 0.5;
}

.loadBtn:focus {
  border: solid, 3px, black;
}

.loadBtn:hover {
  background-color: #000;
  color: rgb(255, 0, 0);
}

iframe {
  width: 560px;
  height: 315px;
  margin-top: 20px;
  border: none;
}
